// Fonts
//$font-family-body: "JetBrains Mono", monospace;
//$font-family-mono: "JetBrains Mono", monospace;
//$font-family-tt: "Inconsolata", monospace;
$font-family-body: "M PLUS 1", sans-serif;
$font-family-mono: "M PLUS 1", sans-serif;
$font-family-tt: "M PLUS 1", sans-serif;
$font-size: 16px;
$line-height: 1.725;
$page-width: 48rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: "dark" // white dark light classic